body {
    background: #f2f2f2;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    width: 430px;
    height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -215px 0 0 -215px;
}
